#container1 {
    display: flex;
    border: 1px solid blue;
    flex-direction:row; justify-content:center; align-items: center; width: 30px; heigth: 30px
}
#container1 div {
      background:blue;
      margin-left:10px;
      height:10px;width:10px
}